@charset 'utf-8';

// Add fonts here
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Setting colors
$purple: #54188b;

// Update Bulma's global variables
$primary: $purple;

// Global CSS
.is-vertical-center {
    display: flex !important;
    align-items: center;
}

.stonehands-hero {
    font-family: 'Roboto Slab', serif;
}

// March Madness specific styling
.march-madness:after {
  content: '';
  border-color: black;
  border-width: 2px;
  position: absolute;
  display: block;
  width: 10px;
  right: -11px;
}

.march-madness:nth-of-type(odd):after {
  border-right-style: solid;
  border-top-style: solid;
  height: 100%;
  top: 50%;
}

.march-madness:nth-of-type(even):after {
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  top: -50%;
}

.march-madness:before {
  content: '';
  border-top: 2px solid black;
  position: absolute;
  height: 2px;
  width: 10px;
  left: -10px;
  top: 50%;
}

// To make sure printing the users picks all prints to one page
@media print {
    .section {
      padding: 0px !important;
    }
  
    .column {
      padding: 0px !important;
    }
  
    .no-print {
      display: none !important;
    }
  }

@import 'bulma/bulma.sass';