@charset 'utf-8';

// Add fonts here
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Setting colors
$purple: #54188b;

// Update Bulma's global variables
$primary: $purple;

// Global CSS
.is-vertical-center {
    display: flex !important;
    align-items: center;
}

.stonehands-hero {
    font-family: 'Roboto Slab', serif;
}

// To make sure printing the users picks all prints to one page
@media print {
    .section {
      padding: 0px !important;
    }
  
    .column {
      padding: 0px !important;
    }
  
    .no-print {
      display: none !important;
    }
  }

@import 'bulma/bulma.sass';
@import '@cityssm/bulma-sticky-table/sticky-table';